<div class="solo-comment">
    <%= comment.body %> &mdash; <%= comment.user.displayName %> &mdash; <%= time_ago_in_words(comment.updated_at) %> ago
    <%= link_to "Reply", new_qcomment_path(:parent_id => comment, :question_id => comment.question) %>
</div>

<% comment.replies.each do |reply| %>
    <div class="comment-box">
        <%= render :partial => "qcomment", locals: { comment: reply} %>
    </div>
<% end %>
