<div class="page-container">
    <p id="notice"><%= notice %></p>

    <% if @question.errors.any? %>
        <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_for @question, url: question_path(@question), html: { method: :put } do |f| %>

        <%= f.label :title %>
        <%= f.text_field :title, :class => "new-question-title", :placeholder => "What's your programming/technology question?" %><br><br>
        <%= f.label :url, "Screencast URL" %>
        <%= f.text_field :url, :class => "url-input", :placeholder => "Any YouTube or Loom URL" %><br><br>
        <%= f.text_area :body, :class => "tinymce" %>

        <%= tinymce %>
        <br>

        <%= f.label :tags %>    
            <%= f.text_field :tag_list, value: f.object.tag_list.to_s, :class => "tag-input" %>

            <!-- This span will display error text and button will be disabled if more than 5 commas/tags are entered. Javascript is in questions.coffee -->
            <span class="max-tags"></span>

            <br><br>
            
        <%= f.submit "Edit Your Question", :class => "submit-btn new-question-submit" %>
    
    <% end %>
</div>