<main>
    <h4>New Questions</h4>
    <% @questions.each do |question| %>
        <div class="whole-question">
            <div class="vote-container" data-id="<%= question.id %>">
                <% if current_user %>
                    <%= link_to question_user_like_path(question, current_user), :class => "like-btn #{'liked' if current_user.liked? question}", method: :put, remote: true do %>
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <% end %>
                <% else %>
                    <i class="fa fa-chevron-up not-logged-in" aria-hidden="true"></i>
                <% end %>
                <div class="num-upvotes">
                    <%= question.get_upvotes.size - question.get_downvotes.size %>
                </div>

                <% if current_user %>
                    <%= link_to question_user_dislike_path(question, current_user), :class => "dislike-btn #{'liked' if current_user.disliked? question}", method: :put, remote: true do %>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <% end %>
                <% else %>
                    <i class="fa fa-chevron-down not-logged-in" aria-hidden="true"></i>
                <% end %>
            </div>

            <div class="question-details">
                <div class="question-title">
                    <%= link_to question.title, question_path(question), :class => "question-title" %> 
                    <% if !question.url.empty? %>
                        <i class="fa fa-film"></i>
                    <% end %>
                </div>
                <span>
                    <% if current_user == question.user %>
                        <%= link_to "Edit Question", edit_question_path(question), method: :get %>
                    <% end %>
                </span>
                <div class="question-user">
                    by <span class="question-email"><%= question.user.displayName %></span>
                    <%= time_ago_in_words(question.created_at) %> ago
                    <%= link_to question.answers.count.to_s + " answers", question_path(question) %>
                </div>
            </div>
        </div>
    <% end %>

    <hr />
    <%= paginate @questions %>
    
        <%= page_entries_info @questions, entry_name: "question" %>
    
</main>