<h1>New Question</h1>

<%= form_for(@question) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>
    <%= f.label :body %>
    <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120 %>

<%= tinymce %>

<%= f.submit %>
<% end %>