<h1>New Question</h1>

<p id="notice"><%= notice %></p>

<% if @question.errors.any? %>
    <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
<% end %>

<%= form_for(@question) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>
    <%= f.label :url, "Screencast URL" %>
    <%= f.text_field :url %>
    <%= f.label :body %>
    <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120 %>

<%= tinymce %>

<%= f.submit %>
<% end %>

