<%= @question.title %><br>

<% if @question.url && !@question.url.empty? %>
    <%= get_video_iframe(@question.url) %>
<% end %>

<%= simple_format(@question.body) %>

<br><br>

<h3>Your Answer</h3><br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(@answer) do |f| %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label :url, "Screencast URL" %>
    <%= f.text_field :url %><br><br>
    <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120 %>

<%= tinymce %>
<br>
<%= f.submit %>
<% end %>
<br><br>

<% @question.answers.each do |answer| %>
    <div class="answer" data-id="<%= answer.id %>">
        <%= link_to answer_user_like_path(answer, current_user), method: :put, class: "like-btn #{'liked' if current_user.liked? answer}", remote: true do %>
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <% end %>
        <strong>Votes: </strong><span class="likes-count"><%= answer.get_upvotes.size - answer.get_downvotes.size %></span>

        <%= link_to answer_user_dislike_path(answer, current_user), method: :put, class: "dislike-btn #{'liked' if current_user.disliked? answer}", remote: true do %>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <% end %>

        <div>
            <% if answer.url && !answer.url.empty? %>
                <%= get_video_iframe(answer.url) %>
            <% end %>
        </div>
        
        
        <%= simple_format(answer.body) %>
        <div>by: <%= answer.user.displayName %></div>
        <% if current_user == answer.user %>
            <%= link_to "Edit Answer", edit_answer_path(answer), method: :get %>
        <% end %>
        <br><br>
    </div>

<% end %>
