<% if @anchor %>
  <script type="text/javascript">
    window.location.hash = "<%= @anchor %>";
  </script>
<% end %>

<div class="page-container">

    <div class="question-container" data-id="<%= @question.id %>">
        <h2>
        <% if current_user %>
            <%= link_to question_user_like_path(@question, current_user), :class => "like-btn #{'liked' if current_user.liked? @question}", method: :put, remote: true do %>
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <% end %>
        <% else %>
            <i class="fa fa-chevron-up not-logged-in" aria-hidden="true"></i>
        <% end %>
        <span class="num-upvotes">
            <%= @question.get_upvotes.size - @question.get_downvotes.size %>
        </span>
        <% if current_user %>
            <%= link_to question_user_dislike_path(@question, current_user), :class => "dislike-btn #{'liked' if current_user.disliked? @question}", method: :put, remote: true do %>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <% end %>
        <% else %>
            <i class="fa fa-chevron-down not-logged-in" aria-hidden="true"></i>
        <% end %>
        </h2>
        <h3><%= @question.title %></h3>
        <% if @question.url && !@question.url.empty? %>
            <div class="video-container">
                <%= get_video_iframe(@question.url) %>
            </div>
        <% end %>

        <%= simple_format(@question.body) %>

        <div class="tags-container">
            <% @question.tags.each do |tag| %>
                <span class="tag-box"><%= tag %></span>
            <% end %>
        </div>


        <div>&mdash; asked <%= time_ago_in_words(@question.created_at) %> ago by: <%= @question.user.displayName %></div>

        <% if current_user == @question.user %>
            <div class="edit-question-link">
                <%= link_to "Edit Question", edit_question_path(@question), method: :get %>

                <!-- Do not allow delete if there are any answers or the question is more than an hour old -->
                <% if @question.answers.size.zero? && @question.created_at > 1.hour.ago %> | 
                    <%= link_to 'Delete Question', 
                             @question, 
                             method: "delete",
                             data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div>
        <% end %>
        
        <%= link_to "Add a Comment", new_qcomment_path(:question_id => @question) %>

        <div class="comments-container">
            <% @question.qcomments.each do |comment| %>
                <% if comment.parent_id.blank? %>
                    <div class="comment-box">
                        <%= render :partial=>"qcomment", locals: {comment: comment} %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

<h3><%= @question.answers.count %> answers</h3>

<% @question.answers.order(cached_weighted_score: :desc, created_at: :desc).each do |answer| %>
    <div class="answer answer-container" data-id="<%= answer.id %>">
        <h2>
        <% if current_user %>
            <%= link_to answer_user_like_path(answer, current_user), :class => "like-btn #{'liked' if current_user.liked? answer}", method: :put, remote: true do %>
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <% end %>
        <% else %>
            <i class="fa fa-chevron-up not-logged-in" aria-hidden="true"></i>
        <% end %>
        <span class="likes-count"><%= answer.get_upvotes.size - answer.get_downvotes.size %></span>

        <% if current_user %>
            <%= link_to answer_user_dislike_path(answer, current_user), :class => "dislike-btn #{'liked' if current_user.disliked? answer}", method: :put, remote: true do %>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <% end %>
        <% else %>
            <i class="fa fa-chevron-down not-logged-in" aria-hidden="true"></i>
        <% end %>
        </h2>

        <div class="video-container">
            <% if answer.url && !answer.url.empty? %>
                <%= get_video_iframe(answer.url) %>
            <% end %>
        </div>
        
        
        <%= simple_format(answer.body) %>
        <div>by: <%= answer.user.displayName %></div>
        <% if current_user == answer.user %>
            <%= link_to "Edit Answer", edit_answer_path(answer), method: :get %> |
            <%= link_to 'Delete Answer', 
                         answer, 
                         method: "delete",
                         data: { confirm: 'Are you sure?' } %>     
        <% end %>

        <br><%= link_to "Add a Comment", new_acomment_path(:answer_id => answer) %>
    </div>

    <div class="comments-container">
        <% answer.acomments.each do |comment| %>
            <% if comment.parent_id.blank? %>
                <div class="comment-box">
                    <%= render :partial=>"comment", locals: {comment: comment} %>
                </div>
            <% end %>
        <% end %>
    </div>

<% end %>

<h3 id="anchor_point">Your Answer</h3>
    <% if flash[:alert] && flash[:alert] != "You are already signed in." %>
        <div class="notice"><%= flash.now[:alert].html_safe %></div>
    <% end %>

<% if current_user %>
    <%= form_for(@answer) do |f| %>
        <%= f.hidden_field :question_id, :value => @question.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.label :url, "Screencast URL" %>
        <%= f.text_field :url, :class => "url-input", :placeholder => "Any YouTube or Loom URL (not an embed code)" %>

        <!-- Bootstrap modal for URL guidelines -->
        <!-- Trigger the modal with a button -->
          <a data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle"></i></a>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Screencast URL Guidelines</h4>
                </div>
                <div class="modal-body">
                  <p>You have two options for creating screencasts:
                    <ol>
                        <li>Use <a href="http://www.useloom.com" target="blank">Loom</a>, the free Chrome plugin. Loom makes creating screencasts easy, and gives you a URL which you can enter on Kickabyte.</li>
                        <li>Create your own screencast and host it on YouTube, or link to an existing YouTube URL if you find one that answers the question.</li>
                    </ol>
                  </p>
                  <p><strong>In either case, use the plain URL, not the embed code.</strong></p>
                  <p>Screencasts are required when submitting answers to Kickabyte.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>

        <br><br>
        <%= f.text_area :body, :class => "tinymce" %>

    <%= tinymce %>
    <br>
    <%= f.submit "Post Your Answer", :class => "submit-btn" %>
    <% end %>
<% else %>
    <p>You must be signed in to submit an answer.</p>
    <p><%= link_to "Sign Up", new_user_registration_path %> or 
        <%= link_to "Log In", new_user_session_path %> to continue.</p>
<% end %>
<br>

</div>