<%= @question.title %><br>
<blockquote class="embedly-card"><h4><a href="<%= @question.url %>">Loom Videos Embed.ly Announcement</a></h4></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<%= simple_format(@question.body) %>

<br><br>

<h3>Your Answer</h3><br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_for(@answer) do |f| %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120 %>

<%= tinymce %>

<%= f.submit %>
<% end %>
<br><br>

<% @question.answers.each do |answer| %>
    <div class="answer" data-id="<%= answer.id %>">
        <%= link_to "upvote", answer_user_like_path(answer, current_user), method: :put, class: "like-btn", remote: true %>
        <strong>Votes: </strong><span class="likes-count"><%= answer.get_upvotes.size - answer.get_downvotes.size %></span>

        <%= link_to "downvote", answer_user_dislike_path(answer, current_user), method: :put, class: "dislike-btn", remote: true %>
        
        <%= simple_format(answer.body) %>
        <% if current_user == answer.user %>
            <%= link_to "Edit Answer", edit_answer_path(answer), method: :get %>
        <% end %>
        <br><br>
    </div>

<% end %>
