<%= @question.title %><br>
<%= simple_format(@question.body) %>

<br><br>

<h3>Your Answer</h3><br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_for(@answer) do |f| %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120 %>

<%= tinymce %>

<%= f.submit %>
<% end %>
<br><br>

<% @question.answers.each do |answer| %>
    <% if current_user.liked? answer %>
        <%= link_to "upvote", answer_user_unvote_path(answer, current_user), method: :put %>
    <% else %>
        <%= link_to "upvote", answer_user_like_path(answer, current_user), method: :put %>
    <% end %>
    <strong>Votes: </strong><%= answer.get_upvotes.size - answer.get_downvotes.size %>

    <% if current_user.disliked? answer %>
        <%= link_to "downvote", answer_user_unvote_path(answer, current_user), method: :put %>
    <% else %>
        <%= link_to "downvote", answer_user_dislike_path(answer, current_user), method: :put %>
    <% end %>

    <%= simple_format(answer.body) %><br><br>

<% end %>
