<div class="page-container">

    <% if @acomment.parent %>
        <%= @acomment.parent.body %>
    <% elsif @acomment.answer %>
        <%= simple_format(@acomment.answer.body) %>
    <% end %>

    <%= form_for(@acomment) do |f| %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :answer_id %>
        <%= f.text_area :body, :class => "comments-box" %><br>
        <%= f.submit "Submit Comment" %>
    <% end %>

</div>