<%= simple_format(@answer.parent.body)  if @answer.parent %>

<%= form_for(@answer) do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>
        <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 120 %>
        <%= tinymce %>
    </p>
    <p><%= f.submit "Post Reply" %></p>
<% end %>
